*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "からかぜ";
    /* src: url(fonts/karakaze-R.ttf); */
    src: url(fonts/karakaze-R.woff);
    font-weight: 600;
}


@font-face{
    font-family: "Klee";
    src: url(fonts/Klee-medium.ttf);
    font-weight: 600;
}

body{
    font-family: "Klee";
    color: #311400;
}

.split-box{
    position: absolute;
    width: 50%;
    height: 100%;
}

.left-side{
    left: 0;
    width: 50%;
    height: 100%;
    position: fixed;
    z-index: 2;
}

.left-side-visual{
    position: relative;
}

.left-side-visual p{
    position: absolute;
    top: 85vh;
    left: 4%;
    font-size: 50px;
}

.left-side-img {
    width: 100%;
    height: auto;
} 

.left-side-content{
    width: 41%;
    height: 70%;
    position: absolute;
    z-index: 5;
    top: 0;
    padding: 3% 0 2% 0;
    margin: 4%;
    background-color:rgba(224, 237, 255, 0.65);
}

.left-side-content h1 {
    list-style: none;
    font-family: "からかぜ";
    
    font-size: 27px;
    margin: 16% 0 10% 9%;
}

.left-side-content a{
    text-decoration: none;
    color: #311400;
}

.header-nav-list{
    list-style: none;
    display: inline-block;
    margin: 10% 0 0 9%;
    font-family: "Klee";
}

.header-nav-list li{
    margin: 0 1w;
    margin-top: 10%;
}

.header-nav-list a{
    text-decoration: none;
    color: #311400;
    font-size: 83%;
}

.header-nav-list2 {
    list-style: none;
    margin: 0 1w;
    margin-top: 25pt;
    margin-left: 20px;
}

.header-nav-list2 li{
    color: #311400;
    font-size: 17px;
    margin-top: 45pt;
}

.header-nav-list2 h2{
    color: #311400;
    font-size: 25px;
    margin-top: 13pt;
}

.header-nav-list2 a{
    width: 170px;
    height: 30px;
    font-size: 10px;
    font-weight: 300;
    text-decoration: none;
    background-color:rgba(255, 255, 255, 0.4);
    color: #231300;
    border: solid 1px #231300;
    float: left;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20pt;
}

.header-nav-list2 img{
    margin: 5% 5% 5% 0;
}

div#header-shisu-icon {
    display: flex;
    font-size: 13px;
}


.right-side{
    right: 0;
    overflow-y: scroll;
    /* display: flex;
    flex-flow: column;
    min-height: 100vh; */
}

.header{
    width: 50%;
    height: 55px;
    position: fixed;
}

.header-list{
    display: flex;
}

.header-list li{
    width: 33%;
    height: 55px;
    font-size: 13px;
    list-style: none;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid 1px white;
    background-color: rgba(190,204,224,0.7);
}

.header-list a{
    text-decoration: none;
    color: #311400;
}

.header-list img{
    width: 7%;
}

.contents {
    flex: 1;
}

.media-header-sp-nav {
    display: none;
}

.media-header {
    display: none;
}

.media-title {
    display: none;
}

.main-text{
    padding-top: 60px;
    font-size: 15px;
}

.introduction{
    padding: 55px;
    padding-top: 60px;
    padding-bottom: 15px;
}
.asset1{
    flex-direction: column;
}

.block img{
    padding: 0 33px 120px;
    width: 100%;
}

.last-block img{
    padding: 0 33px 120px;
    width: 100%;
}

.asset-title{
    font-size: 35px;
    padding: 30px 1px 20px 55px;
} 

.paragraf1 {
    padding: 70px 55px 30px;
}

.paragraf2 {
    padding: 0 55px 70px;
}

.main-text h2{
    font-size: 17px;
    padding: 0 55px;
}

.sentakuhyouzi {
    display: flex;
    padding: 38px;
    justify-content: center;
}

.sentakuhyouzi li{
    width: 170px;
    text-align: center;
    list-style: none;
}

.sentakuhyouzi img{
    padding: 3 3 3px;
}

.sentakuhyouzi-about1{
    font-size: 12px;
    padding-top: 20px;
}

.sentakuhyouzi-about2{
    font-size: 12px;
    padding-top: 8.2px;
}

.sentakuhyouzi-about3{
    font-size: 12px;
}

.asset1 h3{
    font-size: 17px;
    padding: 10px 55px 0;
}

.sentakuhyouzi_2 {
    display: flex;
    padding: 38px;
    justify-content: center;
}

.sentakuhyouzi_2 li{
    width: 170px;
    text-align: center;
    list-style: none;
}

.sentakuhyouzi-about4{
    padding: 20px;
    font-size: 12px;
}

.paragraf3 {
    padding: 15px 55px 70px;
}

.paragraf3 a {
    color: #311400;
}

.asset2-title{
    font-size: 40px;
    padding: 30px 55px 20px;
}

.paragraf4 {
    padding: 70px 55px 30px;
}

.check-box {
    border: solid 1px #311400;
    padding: 5%;
    margin: 3% 7%;
    box-shadow: 15px 15px 0px 0 rgb(224, 237, 255);
}

.check-container {
    margin: 0 auto;
    width: 470px;
}
 

.check-box ul {
   list-style: none;
   padding-left: 10%;
}

.must-check { 
    font-size: 17px;
    padding-bottom: 2%;
}

.paragraf5 {
    padding: 30px 55px 30px;
}

.paragraf6 {
    padding: 0 55px 30px;
}

.paragraf7 {
    padding: 0 55px 70px;
}

.paragraf8 {
    padding: 70px 55px 30px;
}

.paragraf9 {
    padding: 0 55px 30px;
}

.paragraf10 {
    padding: 0 55px 70px
}

.block1 img{
    padding: 0 33px 190px;
    width: 100%;
}

.category{
    background-color: #EBF3FF;
    height: 1200px;
}

.category h3{
    font-family: "からかぜ";
    text-align: center;
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 40px;
}

.category-list li{
    width: 50%;
    list-style: none;
    padding-bottom: 80px;
}

.category-list a{
    text-decoration: none;
    color: #311400;
}

.category-list img{
    width: 240px;
    justify-content: center;
}

.category-list-title {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 10px;
} 

.category-list-about{
    font-size: 8px;
}

footer{
    height: 120px;
    background-color: #CCE2FF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 11%;
    padding: 5%;
}

.scroll-top{
    text-decoration: none;
}

.scroll-top img{
    width: 30px;
}

.scroll-top p{
    text-decoration: none;
    font-family: "からかぜ";
    color: #311400;
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .left-side{
        display: none;
    }

    .header-list {
        display: none;
    }

    .media-header {
        display: grid;
        position: relative;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .media-header a {
        text-decoration: none;
        color: #311400;
    }

    .media-header-logo p{
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 27px;
        font-family: "からかぜ";
    }

    .media-header img {
        width: 100%;
    }

    .media-header p {
        position: absolute;
        top: 10%;
        left: 2%;
        font-family: "からかぜ";
        font-size: 31px;
    }

    .right-side {
        width: 100%;
        height: 100%;
    }

    .right-side:before{
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        background: url(images/sentaku1.png);
        background-size: cover;
    }

    .media-title {
        display: grid;
        font-size: 25px;
    }

    .main-text {
        text-align: center;
        font-size: 14px;
        margin: 20% 9%;
        background-color: rgba(235, 243, 255, 0.8);
    }

    .block img {
        padding: 0 7% 10%;
    }

    .introduction {
        padding: 5%;
    }

    .asset-title {
        font-size: 22px;
        padding: 0 7%;
    }

    .asset1 h2 {
        padding: 0 7%;
    }

    .paragraf1 {
        padding: 7%;
    }

    .paragraf2 {
        padding: 0 7% 10%;
    }

    .paragraf3 {
        padding: 0 7%;
    }

    .paragraf4 {
        padding: 7%;
    }

    .paragraf5 {
        padding: 8% 7% 3%;
    }

    .paragraf6 {
       padding: 0 7% 3%;
    }

    .paragraf7 {
        padding: 3% 7% 10%;
    }

    .check {
        height: 200px;
    }

    .check h4 {
        font-size: 17px;
        padding: 20px;
        padding-bottom: 15px;
    }

    .check-box h3{
        position: absolute;
        top: 0;
    }

    .check-box ul {
        font-size: 11px;
        padding-left: 0;
    }

    .last-block img{
        padding: 0 7% 20%;
    }

    .category-list {
        text-align: left;
    }

    .category h3{
        font-size: 25px;
    }

    /* .category-list li {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 0;
    }
     */

     .category-list li {
        width: 100%;
        /* display: flex;
        align-items: center; */
        padding-bottom: 0;
    }

    .category-list a{
        display: flex;
        align-items: center;
    }
    
    .category-list img {
        width: 100%;
    }

    .category-img {
        width: 50%;
    }

    .category-text a{
        font-size: 17px;
    }

    p.category-list-about {
        font-size: 14px;
        padding: 4%;
    }

    .category-list-title {
        font-size: 17px;
        margin: 10px 0 10px;
    } 

    .category-text {
        width: 50%;
        text-align: center;
    }

    .category-list-reverse {
        flex-direction: row-reverse;
    }
    
    .category{
        background-color:rgba(235,243, 255, 0.7);
        height: auto;
    }

    footer {
        height: 120px;
    }

    .header-sp-icon-wrap{
        position: absolute;
        position: fixed;
        width: 20px;
        height: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 50;
        top: 4vw;
        right: 6%;
    }

    .header-sp-icon-bar1,
    .header-sp-icon-bar2,
    .header-sp-icon-bar3{
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #311400;
        border-radius: 1px;
        transform-origin: left;
        transition: all 0.3s ease-out;
    }

    .is-open .header-sp-icon-bar1 {
        transform: rotate(45deg);
        z-index: 100;
    }

    .is-open .header-sp-icon-bar2 {
        transform: scale(0);
    }

    .is-open .header-sp-icon-bar3 {
        transform: rotate(-45deg);
    }

    .media-header-sp-nav{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.9);
        display: none;
    }

    .media-header-sp-nav p {
        font-family: "からかぜ";
        font-size: 21px;
        text-align: center;
    }

    .media-header-sp-nav-list{
        width: 77%;
        margin: auto;
        list-style: none;
    }

    .media-header-sp-nav-img-wrap{
        width: 133px;
        margin: 10vh auto 7vh;
    }

    .media-header-sp-nav-img-wrap img{
        width: 100%;
    }

    .media-header-sp-nav-list li{
        margin-bottom: 33px;
    }

    .media-header-sp-nav-list a{
        font-size: 16px;
        color: #311400;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .media-header-sp-nav-list img{
        width: 7px;
    }

    .media-header-sp-nav-img-wrap a {
        text-decoration: none;
        color: #311400;
    }


}

@media screen and (max-width: 880px){
    .main-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 580px) {
    .media-header p {
        font-size: 23px;
    }

    .check-container {
        width: 320px;
        font-size: 12px;
    }

    .sentakuhyouzi {
        width: 0;
        flex-direction: column;
        display: flex;
        padding: 0;
        width: 170px;
        margin: 20px auto 0px;
        justify-content: center;
    }

    .sentakuhyouzi-about1 {
        padding-top: 2%;
        padding-bottom: 13%;
    }

    .sentakuhyouzi-about2 {
        padding-top: 2%;
        padding-bottom: 13%;
    }

    .sentakuhyouzi-about3 {
        padding-top: 2%;
        padding-bottom: 13%;
    }
}

@media screen and (max-width: 540px) {
    div.media-title {
        font-size: 23px;
    }


    h.asset-title {
        font-size: 20px;
    } 


    .asset1 h2 {
        font-size: 15px;
    }

    .category-text a{
        font-size: 17px;
    }

    p.category-list-about {
        font-size: 13px;
    }
}

@media screen and (max-width: 510px) {
    .check-container {
        width: 210px;
    }
}

@media screen and (max-width: 390px) {
    .media-header p {
        font-size: 19px;
    }

    .check-container {
        width: 170px;
    }
}